@media only screen and (min-width: 68rem) {
    main#discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main#discover h2 {
        grid-column: 1/-1;
    }
    main#discover #welcome {
        grid-column: 1/-1;
    }
    #discoverBody {
        max-width: 1700px;
    }
}
