html, body {
    display: grid;
    min-height: 100vh;
    padding: 0;
}
body, .hamburger, main, main section, .hero figcaption, .hero a, button.selected footer {
    color: white;
}

a, img, #nav-bar, #nav-bar a, h1, h2, main section button {
    color: black;
}

header, .hamburger, main section, .hero a, footer {
    background: darkgreen;
}
body {
    grid-template-rows: auto 1fr auto;
    background: black;
}

body.hide {
    grid-template-rows: auto auto 1fr auto;
}

#nav-bar, p, .hero a, #weather {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}


header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    align-items: end;
    padding: 5px 0px;
    border-bottom: groove 6px black;
    column-gap: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: min-content;
}

header img {
    display: block;
    padding: 0 0 0 10px;
    width: 40px;
    height: 40px;
}

header span {
    font-size: 1.2rem;
    padding-bottom: 3px;
}

.hamburger {
    border: none;
}
.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
    cursor: pointer;
}

.hamburger.show::before {
    content: "\00D7";
}

#nav-bar {
    display: none;
}
#nav-bar.show {
    display: block;
    border: ridge 6px black;
    border-top: none;
    background: tan;
}
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-bar li {
    min-height: 2rem;
    align-content: center;
}
#nav-bar a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    font-weight: bold;
}
.navigation a:hover {
    background-color: rgba(150, 111, 83, 0.451);
}
.navigation li.current {
    background-color: rgb(211, 168, 113);
}

h1 {
    padding: .8em 10px;
    margin-top: 0;
    border-bottom: black 3px outset;
    border-top: black 3px outset;
    background: linear-gradient(to bottom, white, tan);
}
h2 {
    text-align: center;
    background: rgb(210, 180, 140);
    border-bottom: 2px ridge black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px;
    margin: 0px;
}

main {
    padding: 10px;
    box-sizing: border-box;
    background: saddlebrown;
}

main#home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}
main#home > * {
    box-sizing: border-box;
    grid-column: 1/-1;
}


main #view {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 10px;
    font-size: 20px;
    gap: 10px;
    min-height: 40px;
    line-height: 1;
}
main #view p {
    margin: 0;
}


.cards.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 20px;
    justify-items: center;
}
.cards.grid section p:nth-child(even) {
    background: green;
}
.cards.grid section {
    min-height: 390px;
}

.cards.list {
    grid-template-columns: 1fr;
    display: grid;
    gap: 10px;
    padding: 10px;
    
}
.cards.list .companyImage {
    display: none;
}

.cards.list h2 {
    font-size: 18px;
}

.cards.list p {
    padding: 1px 5px;
}

.cards.list section {
    display: grid;
    min-height: 115px;
}
.cards.list section p {
    padding: 5px;
}
.cards.list p:nth-child(odd) {
    background: green;
}

main section {
    border: black 2px solid;
    border-radius: 5px;
}

main section p {
    margin: 0px;
    padding: 10px;
}

main section img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 15px auto;
    border: 3px inset saddlebrown;
}
main section button {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background: white;
    border-radius: 8px;
}

main > section > * {
    box-sizing: border-box;
}

#home h3 {
    text-align: center;
}


.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
}
.hero h2 {
    position: absolute;
    z-index: 5;
    /* background: linear-gradient(to top, white, darkgreen); */
    background: transparent;
    border-radius: 0;
    border: outset 2px white;
    font-size: 28px;
    top: 5%;
    left: 50%;
    translate: -50%;
}

.hero figcaption {
    position: absolute;
    z-index: 5;
    bottom: 5%;
    left: 5%;
}
.hero a {
    display: block;
    text-decoration: none;
    padding: 8px;
    border: outset 3px saddlebrown;
}
.hero a:hover {
    background: green;
    border-color: tan;
}

#events {
    background: black;
    /* border: none; */
}
.content {
    display: grid;
    margin: 5px;
    gap: 5px;
}
#spotlight section ul li {
    padding: 8px;
}

#weather {
    background: slategray;
    text-align: center;
}
#weather-icon {
    background: darkblue;
    border-color: lightskyblue;
    border-style: ridge;
}

#spotlights {
    background: transparent;
}
#spotlight {
    display: grid;
    margin: 15px;
    gap: 5px;
}

button.selected {
    background: saddlebrown;
}

footer {
    min-height: 220px;
    border-top: black ridge 6px;
    justify-items: start;
    box-sizing: border-box;
}
footer p {
    font-size: 14px;
    min-width: 40px;
}

.social {
    background: white;
    border: inset 3px black;
    margin: auto;
    padding: 2px;
}

footer img {
    width: 50px;
    height: 50px;
}

.commerce-contact, .modification-details {
    padding: 20px;
}

.commerce-contact #commerce {
    font-weight: bold;
}