@media only screen and (min-width: 34rem) {
    
    body {
        width: 100%;
        max-width: 1250px;
        margin: 0 auto;
    }
    

.hamburger {
        display: none;
    }

    #nav-bar {
        display: block;
        height: min-content;
        background: tan;
        border-bottom: black 4px ridge;
    }
    #nav-bar ul {
        display: flex;
        padding-left: 0;
        text-align: center;
    }

    #welcome img {
        display: block;
        padding-left: 2px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    main h1 {
        grid-column: 1/-1;
    }
    main section {
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
    }
    main section img {
        width: 100%;
        height: auto;
        max-width: 250px;
    }
    section#trails {
        justify-self: start;
    }
    section a:hover {
        animation: button 1s forwards;
    }
    @keyframes button {
        0% {
            box-shadow: none;
        }
        100% {
            box-shadow: 5px 5px 5px goldenrod;
        }
    }
    section#events {
        justify-self: center;
    }
    section#join {
        justify-self: end;
    }
    #routes {
        margin: 0 auto;
        width: 100%;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}