html,
body {
    padding: 0;
    margin: 0;
    gap: 0;
}

header,
footer {
    background: darkgreen;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0;
}

header {
    border-bottom: black 4px outset;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
}
h2 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}
strong {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}
footer {
    border-top: black 4px outset;
}

.social {
    background: white;
    width: min-content;
    display: flex;
    justify-self: center;
    color: black;
}

main {
    background: skyblue;
    margin: 0;
    display: grid;
}

section {
    border: black 4px outset;
    margin: 20px;
    background: white;
    color: black;
}

section p {
    padding-left: 10px;
    
}

section h2 {
    background: saddlebrown;
    color: white;
    padding: 10px;
    margin: 0px;
}

#wireframe {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#wireframe h2 {
    grid-column: 1/-1;
}