html {
    scrollbar-gutter: stable;
}
.hamburger {
    border: 4px ridge black;
    box-sizing: border-box;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    font-size: 1.75rem;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: 'Times New Roman', Times, serif;
}
.hamburger::before {
    content: "\2630";
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.hamburger.show::before {
    content: "\00D7";
    font-family: 'Times New Roman', Times, serif;
}

#nav-bar {
    display: none;
}
#nav-bar.show {
    display: block;
    border-bottom: ridge 4px black;
    border-top: none;
    background: tan;
}
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-bar li {
    min-height: 2rem;
    align-content: center;
}
#nav-bar a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.navigation a:hover {
    background-color: rgba(150, 111, 83, 0.451);
    color: white;
}
.navigation li.current {
    background-color: rgb(211, 168, 113);
    color: black;
}

html,
body {
    padding: 0;
    margin: 0;
    gap: 0;
    max-width: 100%;
    overflow-X: hidden;
}

body {
    border-left: solid 1px black;
    border-right: solid 1px black;
    box-sizing: border-box;
    min-height: 100vh;
}

header,
footer {
    background: darkgreen;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0;
}

header {
    border-bottom: black 4px outset;
    font-family: "Fira Sans", sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
}
header img {
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10%;
}
header span {
    font-size: 2em;
    font-weight: 400;
}

h1 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

.welcome {
    text-align: center;
    height: min-content;
    margin: 0 auto;
    display: flex;
    animation: bike-in 2s forwards ease-out;
}
.welcome p {
    margin: 0px;
    background: saddlebrown;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.welcome img, .bikers {
    display: none;
}
@keyframes bike-in {
    0% {
        transform-origin: center;
        transform: translateX(-100vw);
    }

    100% {
        transform: none;
    }
}

#routes section p, #news p {
    padding: 10px 5px;
    margin: 0px;
}
#routes a, #news a {
    margin-top: auto;
    height: min-content;
    margin: 10px auto;
}
#news {
    margin: 0 auto;
    width: 100%;
    display: grid;
    gap: 15px;
    justify-items: center;
}
#filterBar {
    height: 85px;
}

#filterBar, #routeCount {
    text-align: center;
}
#filterBar select{
    padding: 5px;
    border-radius: 15px;
    font-family: "Fira sans", serif;
    font-weight: 400;
    text-align-last: center;
}
#filterBar select optgroup {
    background: tan;
}
#filterBar select option {
    text-align: left;
    background: white;
}


strong {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

footer {
    border-top: black 4px outset;
}

.social {
    background: white;
    width: min-content;
    display: flex;
    justify-self: center;
    color: black;
}

main {
    background: skyblue;
    margin: 0;
    display: grid;
    padding: 0 15px;
}
section, dialog {
    border: black 4px outset;
    background: white;
    color: black;
    text-align: center;
    border-radius: 25px;
}

section {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    margin: 20px 0;
    display: grid;
    justify-self: center;
}
section h2, dialog h2 {
    background: saddlebrown;
    color: white;
    padding: 10px;
    margin: 0px;
}
dialog h2 {
    height: min-content;
}

dialog p {
    font-size: 1.25rem;
}

dialog #okay {
    width: 70px;
    height: 35px;
    background: tan;
    border-radius: 5px;
    border: 1px outset black;
}
dialog #exit:hover {
    background:lightgray;
    border-style: inset;
}
dialog #exit {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: 1px outset black;
}
dialog div {
    align-content: center;
}

dialog[open] {
    padding: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    display: grid;
}


section p {
    padding-left: 10px;
    
}
section img {
    justify-self: center;
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 15px;
    border: 3px black ridge;
    border-radius: 10%;
}
section a {
    padding: 10px;
    margin: 10px auto;
    border: 3px black outset;
    background: darkgreen;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}
#formwrapper {
    display: grid;
}

#joinform fieldset {
    margin: 0;
    border: none;
}
#joinform h3{
    background: darkgreen;
    color: white;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}
#joinform fieldset {
    display: grid;
}
#joinform fieldset label {
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: right;
    align-items: center;
    gap: 5px;
    min-width: 0;
}
#joinform input {
    padding: 4px;
}
#submitField {
    display: grid;
    gap: 5px;
    padding: 10px;
}
#submit {
    background: tan;
    border-radius: 5px 5px;
}
#submit:hover, dialog #okay:hover{
    border-style: inset;
    background: rgb(211, 168, 113);
}
#submitField sub {
    padding: 5px;
    color: darkred;
}

body#thankspage {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#thankspage h1 {
    height: min-content;
}

.bikers {
    text-align: center;
    height: min-content;
    margin: 0 auto;
    display: flex;
    background: white;
    border-radius: 30%;
}
.biker1 {
    animation: bikers 6s forwards cubic-bezier(1, 0, 1, 4.5) infinite;
    background: plum;
}
.biker2 {
    animation: bikers 12s forwards cubic-bezier(.5, 0, .58, 1) infinite;
    background: orange;
}
.biker3 {
    animation: bikers 6s forwards cubic-bezier(0, 0, 1, 1) infinite;
    background: turquoise;
}
@keyframes bikers {
    0% {
        transform: translateX(-55vw);
    }
    100% {
        transform: translateX(55vw);
    }
}

.loom {
    color: white;
    padding: 2px;
    text-decoration: overline;
}
.route {
    line-height: 1.75rem;
    font-size: 1rem;
}
#cityFilter {
    font-size: 1rem;
    padding: 0.35rem 0.5rem;
    height: 2.1rem;
    width: 160px;
    box-sizing: border-box;
}

.route p, #routeCount {
    font-size: 1rem;
    line-height: 1.75rem;
}